#include "resource.h"
#define IDD_ABOUTBOX 	102
#define IDM_MAIN 	1000
#define IDM_NEW 	32775
#define IDM_OPEN 	32776
#define IDM_SAVE 	32777
#define IDM_SAVEAS 	32778
#define IDM_EXIT 	32774
#define IDM_ABOUT 	32779
#define ICO_MAIN	2
#define IDD_DLG1 	1000
#define IDC_STC1 	1001
#define IDC_IMG1 	1002
#define IDC_STC2 	1003
#define IDC_BTN1 	1004
#define IDC_LISTVIEW 	4000
#define IDE_COL1	10001
#define IDE_COL2	10002
#define IDE_COL3	10003
#define IDE_COL4	10004
#define IDE_COL5	10005
#define IDE_COL6	10006
#define IDE_COL7	10007
#define IDE_COL8	10008
#define IDE_COL9	10009
#define IDE_COL0	10010
#define IDE_COLINDEX	10011
#define IDE_COLTITLE	10012
#define IDB_INSERT 	10023
#define IDB_MODIFY 	10024
#define IDB_DELETE 	10025
#define IDB_CLEAR 	10026
#define IDB_FIND 	10027
#define IDB_RETURN 	10034
#define IDCB_COL1	10013
#define IDCB_COL2	10014
#define IDCB_COL3	10015
#define IDCB_COL4	10016
#define IDCB_COL5	10017
#define IDCB_COL6	10018
#define IDCB_COL7	10019
#define IDCB_COL8	10020
#define IDCB_COL9	10021
#define IDCB_COL0	10022
#define	IDCB_INDEX	10033
#define IDB_COLMODIFY	10028
#define IDC_COLINDEX	10030
#define	IDC_COLTITLE	10031
#define	IDE_INDEX	10035
#define IDC_LISTVIEW	10029

IDM_MAIN MENU
BEGIN
  POPUP "文件(&F)"
  BEGIN
    MENUITEM "新建(&N)",IDM_NEW
    MENUITEM "打开(&O) ...",IDM_OPEN
    MENUITEM "保存(&S)",IDM_SAVE
    MENUITEM "另存为(&A) ...",IDM_SAVEAS
    MENUITEM "退出(&X)",IDM_EXIT
  END
  POPUP "帮助(&H)"
  BEGIN
    MENUITEM "关于(&A) ...",IDM_ABOUT
  END
END

ICO_MAIN ICON DISCARDABLE "icon.ico"

IDD_ABOUTBOX DIALOGEX 10,10,210,72
CAPTION "关于"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "学生信息管理系统, 版本 1.0",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,54,9,147,15
  CONTROL ICO_MAIN,IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,9,18,36,36
  CONTROL "uepxh版权所有(c) 2021",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,54,27,147,21
  CONTROL "确定",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,156,51,42,15
END

